.radioBtn {
  padding: 10px;
  display: inline-flex;
  min-width: 100px;
  justify-content: center;
  margin-right: 0 !important;
  padding-right: 0;
  box-sizing: border-box;
}
.radioBtn_input {
  cursor: pointer;
}
.radioBtn_input:checked {
  border: 1px solid red;
}
.radioBtn_label {
  text-transform: capitalize;
}
